<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/styles.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>Pandora - unforgattable moments of life</h1>
    
    </body>
    <%- include('./partials/foot.ejs') %>
</html>